* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Bangers", cursive;
  letter-spacing: 0.175rem;
}

body {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 1.5rem 0 1rem;
}

li {
  padding: 0.5rem;
  font-size: 1.25rem;
}

p {
  color: darkred;
  padding: 1rem;
  font-size: 1.25rem;
}

fieldset {
  border: none;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: 1.25rem;
  border: 1px solid black;
  padding: 0.75rem;
  margin: 0 0.25rem 0 0;
}

button {
  padding: 0.5rem;
  border: 1px solid black;
  background: transparent;
  font-family: "Bangers", cursive;
  letter-spacing: 0.1rem;
}

button:hover,
button:focus {
  background: pink;
}

.distanceWrapper {
  margin-right: 1.25rem;
}

.distanceWrapper,
.priceWrapper,
.resultBox,
.buttons {
  display: inline-block;
}

.resultsWrapper,
.resultBoxAndButtons {
  width: 100%;
}

.resultBoxAndButtons {
  display: flex;
}

.result {
  padding: 0 3.5rem;
  border: 1px black solid;
  width: 50%;
}

.buttons {
  width: 50%;
  align-self: flex-end;
  text-align: right;
}

.lightblue + label {
  background: lightblue;
}
